@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  display: grid;
  place-content: center;
}

.hero,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  background-color: #202020;
  color: #f8f8f8;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}
